{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous !{% endblock %}

{% block body %}
<div class="container">
    <form class="form-signin mx-auto" style="max-width: 400px;" method="post">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-success" role="alert">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="alert-link">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Merci de vous connecter !</h1>
        
        <label for="inputPseudo" class="sr-only">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control mb-2" placeholder="Pseudo" autocomplete="username" required autofocus>

        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Mot de passe" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-dark btn-block" type="submit">
            Se connecter
        </button>
    </form>
</div>
{% endblock %}
