{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    {{form_start(form)}}

        {{ form_label(form.mail) }}
        {{ form_widget(form.mail) }}

        {{ form_label(form.pseudo) }}
        {{ form_widget(form.pseudo) }}



        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
        <button type="submit">Enregistrer</button>
    {{form_end(form)}}
{% endblock %}
