{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.mail) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-dark">S'inscrire</button>
        <div>
        <p>Vous avez déjà un compte ? Cliquez ici pour vous <a href="#"> connecter ! </a></p>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
