<h2 class="text-center mb-4">User</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Roles</th>
                <th>Est bloqué</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ is_granted('ROLE_BLOCKED') ? 'Yes' : 'No' }} <a href="{{ path('app_admin_user_blocked', {'id': user.id}) }}" class="btn btn-dark btn-sm">bloquer/débloquer</a></td>
                <td>{{ user.mail }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>