{% extends 'base.html.twig' %}

{% block title %}Gif index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Gif Index</h1>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gif</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Visible</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for gif in gifs %}
                    <tr>
                        <td>{{ gif.id }}</td>
                        <td>{{ gif.name }}</td>
                        <td><img src="{{ asset('uploads/gif/' ~ gif.gifFilename) }}" class="img-thumbnail" alt="{{ gif.name }}"></td>
                        <td>{{ gif.tags ? gif.tags|join(', ') : '' }}</td>
                        <td>{{ gif.visible ? 'Yes' : 'No' }}</td>
                        <td>
                            <a href="{{ path('app_gif_show', {'id': gif.id}) }}" class="btn btn-dark btn-sm">Show</a>
                            <a href="{{ path('app_gif_edit', {'id': gif.id}) }}" class="btn btn-dark btn-sm">Edit</a>
                            <a href="{{ path('app_gif_delete', {'id': gif.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Pas de gif à afficher!</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_gif_new') }}" class="btn btn-dark">Ajouter un nouveau gif !</a>
    </div>
{% endblock %}
